/***** CSS RESET *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**********************/
/* GENERAL */
body{
    color: #fff;
    background-color: #1E2D3B;
    font-family: 'Lato', sans-serif;
}